<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mr's Chen</title>
    <link rel="stylesheet" href="../static/fontawesome/css/all.min.css">
    <link href="../static/css/templatemo-xtra-blog.css" rel="stylesheet">
    <link rel="stylesheet" href="http://unpkg.com/k-form-design/lib/k-form-design.css">
</head>
<body>
<header class="tm-header" id="tm-header">
    <div class="tm-header-wrapper">
        <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="tm-site-header">
            <div class="mb-3 mx-auto tm-site-logo"><i class="fas fa-times fa-2x"></i></div>
            <h1 class="text-center">Mr's Chen</h1>
        </div>
        <nav class="tm-nav" id="tm-nav">
            <ul>
                <li class="tm-nav-item active"><a href="" class="tm-nav-link">
                    <i class="fas fa-home"></i>
                    仪表盘
                </a></li>
                <li class="tm-nav-item"><a href="../adspower" class="tm-nav-link">
                    <i class="fas fa-pen"></i>
                    AdsPower
                </a></li>
                <li class="tm-nav-item"><a href="../bitbrowser" class="tm-nav-link">
                    <i class="fas fa-users"></i>
                    BitBrowser
                </a></li>
                <li class="tm-nav-item"><a href="../others" class="tm-nav-link">
                    <i class="far fa-comments"></i>
                    others
                </a></li>
            </ul>
        </nav>
    </div>
</header>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/templatemo-script.js"></script>
</body>
</html>