<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/task_list.css">
    <link rel="stylesheet" href="../static/layui/css/layui.css">

    <script src="../static/js/echarts.js"></script>
    <script src="../static/js/jquery-3.6.1.min.js"></script>
    <title>taskStatus</title>
</head>
<body>
<div id="head_time">
    <blockquote class="layui-elem-quote layui-text">
        <form class="layui-form layui-form-pane" method="get" action="../status">
            <div class="layui-inline">
                <label class="layui-form-label" for="start_time">选择日期：</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="start_time" name="start_time" placeholder="YYYY-MM-DD">
                </div>
                <button type="submit" id="check" class="layui-btn">查询</button>
                <button type="submit" id="check" class="layui-btn layui-btn-normal">
                    <a style="color: #ffffff" href="../list?start_time={{ task_status.14 }}">任务列表</a></button>
            </div>
        </form>
    </blockquote>
    <script type="text/javascript" src="../static/layui/layui.js"></script>
    <script type="text/javascript">
        layui.use('laydate', function () {
            const laydate = layui.laydate;
            laydate.render({
                elem: '#start_time',
                theme: 'molv',
                trigger: 'click',
                value: '{{ task_status.14 }}',
            });
        });
    </script>
</div>
<div class="layui-bg-gray" style="padding: 20px; text-align: center">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header layui-bg-blue">
                    {{ task_status.14 }}：总任务数：{{ task_status.0 }}个
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header layui-bg-green">Carv签到任务</div>
                <div class="layui-card-body">
                    <div class="layui-row">
                        <div class="layui-col-md9">
                            成功：{{ task_status.1 }}个 | 失败：{{ task_status.2 }}个(
                            {% for obj in task_status.10 %}
                                {{ obj.id }}
                            {% endfor %})
                        </div>
                        <div class="layui-col-md3">
                            <button type="submit" id="run_Carv" class="layui-btn layui-btn-sm layui-btn-danger">运行失败</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header layui-bg-green">CoinGecko糖果领取</div>
                <div class="layui-card-body">
                    <div class="layui-row">
                        <div class="layui-col-md9">
                            成功：{{ task_status.5 }}个 | 失败：{{ task_status.6 }}个(
                            {% for obj in task_status.12 %}
                                {{ obj.id }}
                            {% endfor %})
                        </div>
                        <div class="layui-col-md3">
                            <button type="submit" id="run_CKG" class="layui-btn layui-btn-sm layui-btn-danger">运行失败</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header layui-bg-green">Zetalabs每日任务</div>
                <div class="layui-card-body">
                    <div class="layui-row">
                        <div class="layui-col-md9">
                            swap：{{ task_status.7 }}个 | 领取测试币：{{ task_status.8 }}个 |
                            失败：{{ task_status.9 }}个(
                            {% for obj in task_status.13 %}
                                {{ obj.id }}
                            {% endfor %})
                        </div>
                        <div class="layui-col-md3">
                            <button type="submit" id="run_Zeta" class="layui-btn layui-btn-sm layui-btn-danger">运行失败</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header layui-bg-green">Cassava每日任务</div>
                <div class="layui-card-body">
                    <div class="layui-row">
                        <div class="layui-col-md9">
                            成功：{{ task_status.16 }}个 | 失败：{{ task_status.17 }}个(
                            {% for obj in task_status.18 %}
                                {{ obj.id }}
                            {% endfor %})
                        </div>
                        <div class="layui-col-md3">
                            <button type="submit" id="run_Cass" class="layui-btn layui-btn-sm layui-btn-danger">运行失败</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header layui-bg-green">Layer3每日签到</div>
                <div class="layui-card-body">
                    <div class="layui-row">
                        <div class="layui-col-md9">
                            成功：{{ task_status.19 }}个 | 失败：{{ task_status.20 }}个(
                            {% for obj in task_status.21 %}
                                {{ obj.id }}
                            {% endfor %})
                        </div>
                        <div class="layui-col-md3">
                            <button type="submit" id="run_Layer" class="layui-btn layui-btn-sm layui-btn-danger">运行失败</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header layui-bg-green">Soquest每日签到</div>
                <div class="layui-card-body">
                    <div class="layui-row">
                        <div class="layui-col-md9">
                            成功：{{ task_status.22 }}个 | 失败：{{ task_status.23 }}个(
                            {% for obj in task_status.25 %}
                                {{ obj.id }}
                            {% endfor %})
                        </div>
                        <div class="layui-col-md3">
                            <button type="submit" id="run_Soquest" class="layui-btn layui-btn-sm layui-btn-danger">运行失败</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header layui-bg-green">CMC钻石签到</div>
                <div class="layui-card-body">
                    <div class="layui-row">
                        <div class="layui-col-md9">
                            成功：{{ task_status.3 }}个 | 失败：{{ task_status.4 }}个(
                            {% for obj in task_status.11 %}
                                {{ obj.id }}
                            {% endfor %})
                        </div>
                        <div class="layui-col-md3">
                            <button type="submit" id="run_Coinmarketcap" class="layui-btn layui-btn-sm layui-btn-danger">运行失败</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="layui-bg-gray" style="padding:0 20px 20px 20px;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="layui-form layui-form-pane">
                        <div class="layui-form-item">
                            <label for="taskNum" class="layui-form-label">窗口编号</label>
                            <div class="layui-input-block">
                                <input id="taskNum" type="text" name="taskNum" autocomplete="off" placeholder="请输入窗口编号" class="layui-input">
                            </div>
                            <div class="layui-form-item" style="margin-top: 5px">
                                <label class="layui-form-label">选择任务</label>
                                <div class="layui-input-block">
                                    <input type="checkbox" id="carv" name="carv" title="Carv">
                                    <input type="checkbox" id="layer" name="layer" title="Layer">
                                    <input type="checkbox" id="ckg" name="ckg" title="CKG">
                                    <input type="checkbox" id="zeta" name="zeta" title="Zeta">
                                    <input type="checkbox" id="cassava" name="cassava" title="Cassava">
                                    <input type="checkbox" id="soquest" name="soquest" title="Soquest">
                                    <input type="checkbox" id="coinmarketcap" name="coinmarketcap" title="CMC">
                                </div>
                                <div class="layui-form-item" style="margin-top: 10px">
                                    <div class="layui-input-block">
                                        <button type="button" id="btnSubmit" class="layui-btn">运行任务</button>
                                        <button type="button" id="adsAllSubmit" class="layui-btn">全部任务</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnSubmit").on('click', function () {
            const carv = $("input[name='carv']:checked").val();
            const taskNum = $("#taskNum").val();
            const layer = $("input[name='layer']:checked").val();
            const ckg = $("input[name='ckg']:checked").val();
            const zeta = $("input[name='zeta']:checked").val();
            const cassava = $("input[name='cassava']:checked").val();
            const soquest = $("input[name='soquest']:checked").val();
            const coinmarketcap = $("input[name='coinmarketcap']:checked").val();

            $.ajax({
                type: "GET",
                url: "../runTask",
                data: {"carv": carv, 'taskNum': taskNum, 'ckg': ckg, 'zeta': zeta, 'cassava': cassava, 'layer': layer, 'soquest': soquest, 'coinmarketcap': coinmarketcap},
                dataType: "json",
                success: function (backdata, status, xmlHttpRequest) {
                    $("#taskNum").val(backdata.code)
                },
                error: function (msg) {
                    $("#taskNum").val("错误内容" + msg)
                }
            });
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#adsAllSubmit").on('click', function () {
            const taskNum = $("#taskNum").val();

            $.ajax({
                type: "GET",
                url: "../adsAllTask",
                data: {'taskNum': taskNum},
                dataType: "json",
                success: function (backdata, status, xmlHttpRequest) {
                    $("#taskNum").val(backdata.code)
                },
                error: function (msg) {
                    $("#taskNum").val("错误内容" + msg)
                }
            });
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        const carv = [];
        {% for obj in task_status.10 %}
            carv.push({{ obj.id }})
        {% endfor %}
        $("#run_Carv").on('click', function () {
            $.ajax({
                type: "GET",
                url: "../runAdsFailTask",
                data: {'taskName': carv.toString(), 'num': 1},
                dataType: "json",
                success: function (backdata, status, xmlHttpRequest) {
                    $("#taskNum").val(backdata.code)
                },
                error: function (msg) {
                    $("#taskNum").val("错误内容" + msg)
                }
            });
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        const CKG = [];
        {% for obj in task_status.12 %}
            CKG.push({{ obj.id }})
        {% endfor %}
        $("#run_CKG").on('click', function () {
            $.ajax({
                type: "GET",
                url: "../runAdsFailTask",
                data: {'taskName': CKG.toString(), 'num': 3},
                dataType: "json",
                success: function (backdata, status, xmlHttpRequest) {
                    $("#taskNum").val(backdata.code)
                },
                error: function (msg) {
                    $("#taskNum").val("错误内容" + msg)
                }
            });
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        const zeta = [];
        {% for obj in task_status.13 %}
            zeta.push({{ obj.id }})
        {% endfor %}
        $("#run_Zeta").on('click', function () {
            $.ajax({
                type: "GET",
                url: "../runAdsFailTask",
                data: {'taskName': zeta.toString(), 'num': 4},
                dataType: "json",
                success: function (backdata, status, xmlHttpRequest) {
                    $("#taskNum").val(backdata.code)
                },
                error: function (msg) {
                    $("#taskNum").val("错误内容" + msg)
                }
            });
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        const cass = [];
        {% for obj in task_status.18 %}
            cass.push({{ obj.id }})
        {% endfor %}
        $("#run_Cass").on('click', function () {
            $.ajax({
                type: "GET",
                url: "../runAdsFailTask",
                data: {'taskName': cass.toString(), 'num': 5},
                dataType: "json",
                success: function (backdata, status, xmlHttpRequest) {
                    $("#taskNum").val(backdata.code)
                },
                error: function (msg) {
                    $("#taskNum").val("错误内容" + msg)
                }
            });
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        const layer = [];
        {% for obj in task_status.21 %}
            layer.push({{ obj.id }})
        {% endfor %};
        $("#run_Layer").on('click', function () {
            $.ajax({
                type: "GET",
                url: "../runAdsFailTask",
                data: {'taskName': layer.toString(), 'num': 2},
                dataType: "json",
                success: function (backdata, status, xmlHttpRequest) {
                    $("#taskNum").val(backdata.code)
                },
                error: function (msg) {
                    $("#taskNum").val("错误内容" + msg)
                }
            });
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        const soquest = [];
        {% for obj in task_status.24 %}
            soquest.push({{ obj.id }})
        {% endfor %};
        $("#run_Soquest").on('click', function () {
            $.ajax({
                type: "GET",
                url: "../runAdsFailTask",
                data: {'taskName': soquest.toString(), 'num': 6},
                dataType: "json",
                success: function (backdata, status, xmlHttpRequest) {
                    $("#taskNum").val(backdata.code)
                },
                error: function (msg) {
                    $("#taskNum").val("错误内容" + msg)
                }
            });
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        const coinmarketcap = [];
        {% for obj in task_status.11 %}
            coinmarketcap.push({{ obj.id }})
        {% endfor %};
        $("#run_Coinmarketcap").on('click', function () {
            $.ajax({
                type: "GET",
                url: "../runAdsFailTask",
                data: {'taskName': coinmarketcap.toString(), 'num': 7},
                dataType: "json",
                success: function (backdata, status, xmlHttpRequest) {
                    $("#taskNum").val(backdata.code)
                },
                error: function (msg) {
                    $("#taskNum").val("错误内容" + msg)
                }
            });
        });
    });
</script>
</body>
</html>
