#head_time{
    padding: 10px;
    text-align: center;
}
#status{
    padding: 10px;
    text-align: center;
}
#Chart{
    width: 600px;
    height: 400px;
    margin: 0 auto;
    padding-top: 30px;
}
.app{
    width: 450px;
    height: 400px;
    margin: 0 auto;
}
#start_time{
    width: 150px;
}